input, label {
    display: block;
}

label {
    width: 100%;
    margin-top: 150px;
}

input {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.slogan {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slogan-display {
    position: relative;
    padding: 20px;
    margin: 50px 0px;
    border: 5px solid black;
    color: #333;
    background: #fff;
    border-radius: 10px;
    font-size: 3rem;
  }

  .slogan-display:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: black transparent;
    display: block;
    width: 0;
  }
  
  .slogan-display:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display:block;
    width:0;
  }