header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: 100% 100%;
    border-bottom: 5px solid white;
}

h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Fredericka the Great', sans-serif;
    background-color: hsla(0, 0%, 0%, 0.1);
    padding: 0px 40px;
    border: 1px solid white;
    border-radius: 50px;
}
